{{#component "login js-comp"}}
<div>
  <br>
  <form class="form form-aligned form-login" >
    <fieldset>
      <legend>欢迎登陆黑芥末后台管理系统</legend>
      <div class="control-group">
        <input id="login-name" name="name" type="text" class="form-control" placeholder="请输入用户名" required>
      </div>
      <div class="control-group">
        <input id="login-passwd" name="passwd" type="password" class="form-control" placeholder="请输入密码" required>
      </div>
      <div class="control-group">
        <input type="submit" class="btn btn-primary btn-medium btn-block" value="登陆">
      </div>
      <div class="control-group">
        <label class="left-text"><input id="cb" type="checkbox" class="js-remember-username">记住用户名</label>
        <a class="pull-right" href="#">忘记密码?</a>
      </div>
    </fieldset>
  </form>
  <br>
</div>
{{/component}}
