{{#component "js-comp groupon-sidebar sidebar"}}
  <ul class="sidebar-ul">
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;团购管理</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item
        {{#equals _PATH_ "group/dashboard"}}active{{/equals}}
        {{#equals _PATH_ "group/orderdetail"}}active{{/equals}}
        "><div class="text-link"><a href="/group/dashboard" class="inner-item-a">订单查询</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item
        {{#equals _PATH_ "group/user"}}active{{/equals}}
        "><div class="text-link"><a href="/group/user" class="inner-item-a">用户信息</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item
        {{#equals _PATH_ "group/stock"}}active{{/equals}}
        "><div class="text-link"><a href="/group/stock" class="inner-item-a">备货单信息</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
  </ul>
{{/component}}
