{{#component "js-comp groupon-orderdetail"}}
<p class="components-title"><strong class="tab-name">物流/状态详情</strong></p>
<table class="table table-striped js-show-logistics">
  <thead>
    <tr>
      <th width="300">时间</th>
      <th width="900">送货状态</th>
    </tr>
  </thead>
  <tbody>
 </tbody>
</table>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="600">VOM状态</th>
      <th width="600">OMS状态</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="logistics-info" data-logisticsinfo="{{logisticsInfo}}">
        {{#equals vomStatus "0"}}未发送{{/equals}}
        {{#equals vomStatus "1"}}发送成功{{/equals}}
        {{#equals vomStatus "2"}}VOM接单{{/equals}}
        {{#equals vomStatus "3"}}取消订单成功{{/equals}}
        {{#equals vomStatus "4"}}拦截订单成功{{/equals}}
        {{#equals vomStatus "5"}}退货订单发送vom{{/equals}}
        {{#equals vomStatus "-1"}}发送失败{{/equals}}
        {{#equals vomStatus "-2"}}vom拒单{{/equals}}
        {{#equals vomStatus "-3"}}取消订单失败{{/equals}}
        {{#equals vomStatus "-4"}}拦截订单失败{{/equals}}
        {{#equals vomStatus "-5"}}退货订单发送vom失败{{/equals}}
      </td>
      <td>
        {{#equals omsStatus "0"}}未发送oms{{/equals}}
        {{#equals omsStatus "1"}}发送oms成功{{/equals}}
        {{#equals omsStatus "2"}}发送gvs成功{{/equals}}
        {{#equals omsStatus "-1"}}发送oms失败{{/equals}}
        {{#equals omsStatus "-2"}}发送gvs失败{{/equals}}
        {{#equals omsStatus "-3"}}OES订单审核不通过{{/equals}}
      </td>
    </tr>
 </tbody>
</table>
<hr>
<div class="align-center">
  <a href="/finance/ordersearch" class="btn btn-primary">返回</a>
</div>
{{/component}}
