{{#partial "realtitle"}}商户{{/partial}}
{{#partial "realyBody"}}
<p class="components-title"><strong class="tab-name">商户</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">状态</label>
        <select class="select">
          <option value="0" selected="">请选择</option>
          <option value="1">冻结</option>
          <option value="2">xx</option>
        </select>
      </span>
      <span class="span3">
        <label for="">企业性质</label>
        <select class="select">
          <option value="0" selected="">请选择</option>
          <option value="1">国有</option>
          <option value="2">xx</option>
        </select>
      </span>
      <span class="span3">
        <label for="">创建时间
        </label>
        <input class="input-small" type="text">
        -
        <input class="input-small" type="text">
      </span>
      <span class="span3">
        <label for="">法人</label>
        <input type="text">
      </span>
    </fieldset>
    <fieldset>
      <span class="span3">
        <label for="">传真</label>
        <input type="text">
      </span>
      <span class="span3">
        <label for="">地址</label>
        <input type="text">
      </span>
      <span class="span3">
        <label for="">邮箱</label>
        <input type="text">
      </span>
      <span class="span3">
        <label for="">税务号</label>
        <input type="text">
      </span>
    </fieldset>
    <fieldset>
     <span class="span3">
        <label for="">时间区间
        </label>
        <input class="input-small" type="text" value="">
        -
        <input class="input-small" type="text" value="2014-09-23">
      </span>
      <span class="span6">
      <label for=""></label>
        <button type="submit" class="btn btn-primary">查看商户详细信息</button>
        <button type="submit" class="btn btn-primary">导出全部分润报表</button>
        <button type="submit" class="btn btn-primary">导出选中分润报表</button>
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="#">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<div style="padding:10px 0;">
  <div class="inline-left">共 6 条数据</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox"></th>
      <th width="80">商户ID</th>
      <th width="165">商户编码</th>
      <th width="165">商户名称</th>
      <th width="165">是否关联代理商</th>
      <th width="165">代理商编码</th>
      <th width="165">代理商名称</th>
      <th width="165">企业性质</th>
      <th width="195">法人</th>
      <th width="195">法人手机号</th>
      <th width="190">地址</th>
      <th width="190">电话</th>
      <th width="190">传真</th>
      <th width="195">所属银行</th>
      <th width="195">税务登记号</th>
      <th width="190">状态</th>
      <th width="190">分润金额（默认是当月）</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox"></td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
    </tr>
  </tbody>
</table>

<p class="components-title"><strong class="tab-name">订单列表</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">订单状态</label>
        <select class="select">
          <option value="0" selected="">请选择</option>
          <option value="1">服装</option>
          <option value="2">食品</option>
        </select>
      </span>
      <span class="span3">
        <label for="">付款时间
        </label>
        <input class="input-small" type="text">
        -
        <input class="input-small" type="text">
      </span>
      <span class="span3">
        <label for="">订单时间
        </label>
        <input class="input-small" type="text">
        -
        <input class="input-small" type="text">
      </span>
      <span class="span3">
        <label for="">付款状态</label>
        <select class="select">
          <option value="0" selected="">请选择</option>
          <option value="1">上架</option>
          <option value="2">下架</option>
        </select>
      </span>
    </fieldset>
    <fieldset>
      <span class="span3">
        <label for="">商户名称</label>
        <input type="text">
      </span>
      <span class="span3">
        <label for="">买家名称</label>
        <input type="text">
      </span>
       <span class="span3">
        <label for="">收货地址</label>
        <input type="text">
      </span>
      <span class="span3">
        <label for="">付款类型</label>
        <select class="select">
          <option value="0" selected="">请选择</option>
          <option value="1">服装</option>
          <option value="2">食品</option>
        </select>
      </span>

    </fieldset>
    <fieldset>
      <span class="span3">
        <label for="">发货时间
        </label>
        <input class="input-small" type="text">
        -
        <input class="input-small" type="text">
      </span>
      <span class="span3">
        <label for="">分润金额
        </label>
        <input class="input-small" type="text">
        -
        <input class="input-small" type="text">
      </span>
      <span class="span3">
        <a href="/admin/itemadd" class="btn btn-primary">查看详情(这个需要吗)</a>
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="#">取消</a>
      </span>
    </fieldset>

  </form>
</div>
<div style="padding:10px 0;">
  <div class="inline-left">共 6 条数据</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox" name="" value="" placeholder=""></th>
      <th width="80">订单ID</th>
      <th width="90">商户代码</th>
      <th width="165">订单金额(元)</th>
      <th width="165">订单日期</th>
      <th width="165">付款类型</th>
      <th width="165">付款状态</th>
      <th width="165">付款时间</th>
      <th width="165">是否已将收益推送到bcc</th>
      <th width="165">发货时间</th>
      <th width="165">交易完成时间</th>
      <th width="165">交易关闭时间</th>
      <th width="165">支付渠道</th>
      <th width="190">订单状态</th>
      <th width="190">分润金额</th>
      <th width="190">分润规则名称</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>

        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td></td>
        <td>1234</td>
        <td>&nbsp;&nbsp;<button class="btn btn-primary">查看详情</button></td>
    </tr>

  </tbody>
</table>


{{/partial}}
{{> agent/layout }}
