{{#partial "realtitle"}}小微审核{{/partial}}
{{#partial "realyBody"}}
<p class="components-title"><strong class="tab-name">小微审核(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div id="block" class="block">
  <form id="form4" class="form" novalidate="true">
    <fieldset>
      <span class="span3">
        <button type="submit" class="btn btn-primary">批量通过</button>
        <button type="submit" class="btn btn-primary">查看历史</button>
      </span>
      <span class="">
        <label for="">高级查询
        </label>
        <select class="select">
             <option value="0" selected="">leader名称</option>
        </select>

        <input type="text" placeholder="查询内容">
      </span>
      <span class="span1">
        <label for="remember"></label>
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="#">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox" name="" value="" placeholder=""></th>
      <th width="180">小微ID</th>
      <th width="190">小微编号</th>
      <th width="265">小微名称</th>
      <th width="295">小微类别</th>
      <th width="130">操作</th>

    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>690中国区</td>
        <td>类别</td>
        <td> <button class="btn btn-primary">审核</button></td>

    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>690中国区</td>
        <td>类别</td>
        <td> <button class="btn btn-primary">审核</button></td>

    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>690中国区</td>
        <td>类别</td>
        <td> <button class="btn btn-primary">审核</button></td>

    </tr>

  </tbody>
</table>

{{/partial}}
{{> leader/layout }}
