.modalApply{
  .form-aligned fieldset {
    width:270px;
  }

  .form-aligned .control-group{
    margin-top: 10px;
  }
  .form-aligned .control-group label {
      text-align: right;
      width:50px;
  }
}
