{{#component "js-comp banner"}}
<div class="carousel carousel-super" data-ride="carousel" data-type="switchable" style="">
  <!-- Wrapper for slides -->
  <div class="carousel-contents">
    <div data-role="content" class="carousel-content holderjs" style="background:url(/assets/images/banner-1.jpg) no-repeat center top;background-size: cover;">
      <a href="#"></a>
    </div>
    <div data-role="content" class="carousel-content holderjs hide" style="background:url(/assets/images/banner-2.jpg) no-repeat center top;background-size: cover;">
      <a href="#"></a>
    </div>
    <div data-role="content" class="carousel-content holderjs hide" style="background:url(/assets/images/banner-3.jpg) no-repeat center top;background-size: cover;">
      <a href="#"></a>
    </div>
  </div>
  <div class="carousel-navs" data-role="link">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-role="nav" class="active"><span>1</span></li>
      <li data-role="nav" ><span>2</span></li>
      <li data-role="nav" ><span>3</span></li>
    </ol>
    <!-- Controls -->
    <a class="left carousel-control" data-role="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right carousel-control" data-role="next">
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>
{{/component}}
