{{#component "js-comp admin-sidebar sidebar"}}
  <ul class="sidebar-ul">
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;专辑管理</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "album/create-album"}}active{{/equals}}
        "><div class="text-link"><a href="/album/create-album" class="inner-item-a">创建专辑</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "album/album-manage"}}active{{/equals}}
        "><div class="text-link"><a href="/album/album-manage" class="inner-item-a">专辑管理</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    {{#equals _USER_.type "1"}}
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;用户管理</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "admin/adduser"}}active{{/equals}}
        "><div class="text-link"><a href="/admin/adduser" class="inner-item-a">创建用户</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "admin/users"}}active{{/equals}}
        "><div class="text-link"><a href="/admin/users" class="inner-item-a">用户管理</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    {{/equals}}
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;订单管理</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "admin/order-import"}}active{{/equals}}
        "><div class="text-link"><a href="/admin/order-import" class="inner-item-a">订单导入管理</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "admin/users"}}active{{/equals}}
        "><div class="text-link"><a href="/admin/users" class="inner-item-a">商品佣金排行</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "admin/users"}}active{{/equals}}
        "><div class="text-link"><a href="/admin/users" class="inner-item-a">专辑佣金排行</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;个人资料</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "admin/changepassword"}}active{{/equals}}"><div class="text-link"><a href="/admin/changepassword" class="inner-item-a">修改个人密码</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "admin/personinfo"}}active{{/equals}}"><div class="text-link"><a href="/admin/personinfo" class="inner-item-a">查看个人信息</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
  </ul>
{{/component}}
