{{#component "sub-header js-comp"}}
<div class="navbar navbar-primary">
  <div class="navbar-collapse">
    <div class="navbar-header">
      <a class="navbar-home" href="/">
        <div class="navbar-logo icon-common-subheader-images-logo"></div>
        <h3 class="navbar-heading">商圈小微</h3>
      </a>
    </div>
    <ul>
      <li>
        <div class="navbar-item">
          <i class="icon-common-subheader-images-user" style="width: 24px; height: 24px;"></i><br>
          <a href="javascript:void(0);">我的帐号</a>
        </div>
      </li>
    </ul>
  </div>
</div>
{{/component}}
