<div class="modal modalReturnMoney" data-comp-path="pokeball">
  <form class="form form-aligned js-return-fee" novalidate="true" data-ids="{{ids}}">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h2>退款</h2>
    </div>
    <div class="control-group">
      <label for="">确认退款?</label>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-medium">确定</button>
      &nbsp;
      <button class="btn btn-info btn-medium close">返回</button>
    </div>
  </form>
</div>
