{{#component "js-comp admin-addrule"}}
<p class="components-title"><strong class="tab-name">规则添加</strong></p>
<form class="form form-aligned js-add-rule" data-id="{{id}}" novalidate="true">
  <fieldset>
    <div class="control-group">
      <label for=""><span class="required">*</span>规则名称:</label>
      <input required name="name" type="text" value="{{_DATA_.name}}">
      <span class="note-error-empty">请输入规则名称</span>
    </div>
    <div class="control-group">
      <label for=""><span class="required">*</span>规则类型:</label>
      <select required name="type" class="select select164">
        <option value="" selected="">请选择</option>
        <option {{#equals _DATA_.type "1"}}selected{{/equals}}  value="1">按比例</option>
        <option {{#equals _DATA_.type "2"}}selected{{/equals}}  value="2">满返现</option>
      </select>
      <span class="note-error-empty">请选择规则类型</span>
    </div>
    <div class="control-group">
      <label for=""><span class="required">*</span>佣金比例:</label>
      <input required name="vendorCommission" type="number" value="{{_DATA_.vendorCommission}}">%
      <span class="note-error">请输入正确的佣金比例</span>
      <span class="note-error-empty">请输入佣金比例</span>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" value="保存">
        &nbsp;
        <a href="/admin/profitsRule" class="btn btn-primary">返回</a>
      </div>
    </div>
  </fieldset>
</form>
{{/component}}
