{{#partial "realtitle"}}添加商品{{/partial}}
{{#partial "realyBody"}}
<div id="modal1" class="modal" data-comp-path="pokeball">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h2>添加商品</h2>
  </div>
  <div class="modal-body">
    <div class="block block-search">
      <form class="form " novalidate="true">
        <fieldset>
          <span class="span1">
            <button type="submit" class="btn btn-primary">全选</button>
            &nbsp;
            <a href="#">取消</a>
          </span>
        </fieldset>
      </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="40"><input type="checkbox" name="" value="产品ID" placeholder=""></th>
          <th width="130">产品代码</th>
          <th width="195">产品名称</th>
          <th width="95">产品分类</th>
          <th width="190">产品主图片</th>
          <th width="90">销售价格</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><input type="checkbox" name="" value="" placeholder=""></td>
            <td>123456</td>
            <td>测试商品</td>
            <td>洗衣机</td>
            <td><a href="">图片链接</a></td>
            <td>1234</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" value="" placeholder=""></td>
            <td>123456</td>
            <td>测试商品</td>
            <td>洗衣机</td>
            <td><a href="">图片链接</a></td>
            <td>1234</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" value="" placeholder=""></td>
            <td>123456</td>
            <td>测试商品</td>
            <td>洗衣机</td>
            <td><a href="">图片链接</a></td>
            <td>1234</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" value="" placeholder=""></td>
            <td>123456</td>
            <td>测试商品</td>
            <td>洗衣机</td>
            <td><a href="">图片链接</a></td>
            <td>1234</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" value="" placeholder=""></td>
            <td>123456</td>
            <td>测试商品</td>
            <td>洗衣机</td>
            <td><a href="">图片链接</a></td>
            <td>1234</td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-medium">添加</button>
    &nbsp;
    <button class="btn btn-info btn-medium close">返回</button>
  </div>
</div>
{{/partial}}
{{> buzv/layout }}
