{{#partial "realtitle"}}商品添加自己对应{{/partial}}
{{#partial "realyBody"}}
<p class="components-title"><strong class="tab-name">商品添加自己对应</strong></p>
<div>
<div style="">
<div style="width:40%;float:left;">
<p class="components-title"><strong class="tab-name">默认商品列表</strong></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox" name="" value="" placeholder=""></th>
      <th width="50">产品ID</th>
      <th width="90">产品代码</th>
      <th width="95">产品名称</th>
      <th width="95">产品分类</th>

      <th width="90">销售价格</th>
      <th width="90">产品状态</th>
      <th width="90">实际原始价格</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试商品</td>
        <td>洗衣机</td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>

        <td>2014-02-02</td>
    </tr>
  </tbody>
</table>
</div>



<div style="width:40%;float:right;">
<p class="components-title"><strong class="tab-name">商户列表</strong></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox" name="" value="" placeholder=""></th>
      <th width="80">商户ID</th>
      <th width="165">商户编码</th>
      <th width="165">商户名称</th>
      <th width="190">状态</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
        <td>1234</td>
    </tr>
  </tbody>
</table>
</div>
<div style="overflow: auto;"></div>
</div>
<div>
   <button class="btn btn-primary">保存对应关系</button>
    <button class="btn btn-primary">取消</button>
</div>
</div>




{{/partial}}
{{> buzv/layout }}
