{{#partial "realtitle"}}分润规则分配{{/partial}}
{{#partial "realyBody"}}
<p class="components-title"><strong class="tab-name">分润规则分配(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div id="block" class="block">
  <form id="form4" class="form" novalidate="true">
    <fieldset>
      <span class="span3">
      <button type="btn btn-primary ">分配规则</button>
      </span>
      <span class="">
        <label for="">高级查询
        </label>
        <select class="select">
             <option value="0" selected="">分润规则名称</option>
        </select>

        <input type="text" placeholder="查询内容">
      </span>
      <span class="span1">
        <label for="remember"></label>
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="#">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input type="checkbox" name="" value="" placeholder=""></th>
      <th width="80">分润规则ID</th>
      <th width="90">分润规则编号</th>
      <th width="165">分润规则名称</th>
      <th width="95">分润规则类别</th>
      <th width="95">分润规则专属二维码</th>
      <th width="90">分润规则图片</th>
      <th width="190">销售价</th>
      <th width="190">提货价</th>
      <th width="190">操作</th>

    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试分润规则</td>
        <td>洗衣机</td>
        <td><img src="/assets/images/link.jpg" alt=""> </td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>
        <td>1234</td>
        <td><button class="btn btn-primary">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改</button></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试分润规则</td>
        <td>洗衣机</td>
        <td><img src="/assets/images/link.jpg" alt=""> </td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>
        <td>1234</td>
        <td><button class="btn btn-primary">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改</button></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试分润规则</td>
        <td>洗衣机</td>
        <td><img src="/assets/images/link.jpg" alt=""> </td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>
        <td>1234</td>
        <td><button class="btn btn-primary">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改</button></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试分润规则</td>
        <td>洗衣机</td>
        <td><img src="/assets/images/link.jpg" alt=""> </td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>
        <td>1234</td>
        <td><button class="btn btn-primary">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改</button></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="" value="" placeholder=""></td>
        <td>1234</td>
        <td>123456</td>
        <td>测试分润规则</td>
        <td>洗衣机</td>
        <td><img src="/assets/images/link.jpg" alt=""> </td>
        <td><a href="">图片链接</a></td>
        <td>1234</td>
        <td>1234</td>
        <td><button class="btn btn-primary">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改</button></td>
    </tr>
  </tbody>
</table>



{{/partial}}
{{> buzv/layout }}
