{{#component "js-comp leader-sidebar sidebar"}}
  <ul class="sidebar-ul">
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;首页</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "leader/dashboard"}}active{{/equals}}"><div class="text-link"><a href="/leader/dashboard" class="inner-item-a">首页</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;基础信息</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item
        {{#equals _PATH_ "leader/items"}}active{{/equals}}
        {{#equals _PATH_ "leader/itemdetail"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/items" class="inner-item-a">商品列表</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "leader/profitsRule"}}active{{/equals}}"><div class="text-link"><a href="/leader/profitsRule" class="inner-item-a">佣金规则</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "leader/buzv"}}active{{/equals}}"><div class="text-link"><a href="/leader/buzv" class="inner-item-a">小微信息</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;查询</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item
        {{#equals _PATH_ "leader/orders"}}active{{/equals}}
        {{#equals _PATH_ "leader/orderdetail"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/orders" class="inner-item-a">订单查询</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item
        {{#equals _PATH_ "leader/vendors"}}active{{/equals}}
        {{#equals _PATH_ "leader/vendordetail"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/vendors" class="inner-item-a">商户查询</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item {{#equals _PATH_ "leader/vendorprofits"}}active{{/equals}}"><div class="text-link"><a href="/leader/vendorprofits" class="inner-item-a">商户佣金</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item
        {{#equals _PATH_ "leader/orderprofitdetail"}}active{{/equals}}
        {{#equals _PATH_ "leader/orderprofits"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/orderprofits" class="inner-item-a">订单佣金</a></div><span class="corner"></span><span class="wide"></span></li>
        <li class="inner-item
        {{#equals _PATH_ "leader/checkpay"}}active{{/equals}}
        {{#equals _PATH_ "leader/checkpayhistory"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/checkpay" class="inner-item-a">付款审核</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    <li class="sidebar-li hide">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;统计报表</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item
        {{#equals _PATH_ "leader/buzvreport"}}active{{/equals}}
        "><div class="text-link"><a href="/leader/buzvreport" class="inner-item-a">小微信息总汇</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
    <li class="sidebar-li">
      <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-minus"></i><strong>&nbsp;个人资料</strong></a>
      <ul class="inner sidebar-inner-ul">
        <li class="inner-item {{#equals _PATH_ "leader/changepassword"}}active{{/equals}}"><div class="text-link"><a href="/leader/changepassword" class="inner-item-a">修改个人密码</a></div><span class="corner"></span><span class="wide"></span></li>
      </ul>
    </li>
  </ul>
{{/component}}
