.modalReturnMoney{
  .modal-header{
    padding: 10px 10px 10px;
  }
  .control-group{
    padding-right: 35px;

  }
  .control-group label{
    width: 100px;
    padding-left: 10px;
    margin: 50px 40px 30px 30px;
  }
  .modal-footer{
    padding-right: 20px;
  }
  .btn-medium{
    margin-right: 10px;
  }
}
.operation-orders{
  .btn-primary{
    margin-bottom: 5px;
  }
  .js-search{
    margin-bottom: 0px;
  }
}
