<!DOCTYPE html>
<html>
  <head>
    <title>商圈小微</title>
    <meta charset="utf-8">
    <meta name="author" content="test.weixin.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
  <!--[if lt IE 9]><script src="/assets/scripts/ie8.js"></script><![endif]-->

  </head>
  <body>
{{!--   <header class="header">
    {{inject "common/header"}}
  </header> --}}

  <div>
    {{inject "common/banner"}}
    {{inject "common/login"}}
  </div>

{{!--   <footer>
    {{inject "common/footer"}}
  </footer> --}}
  <script src="/assets/scripts/vendor.js"></script>
  <script src="/assets/scripts/app.js"></script>
  <script src="/assets/scripts/vendor/holder/holder.js"></script>
  <script>require("app")()</script>
  </body>
</html>
