.status-contents{
  text-align: center;
  .stat {
    width: 254px;
    margin-right: 1px;
    position: relative;
    background-color: #f4f4f4;
    display: inline-block;

    &.green{
        background-color: #28b779;
        .more{
            background-color: #10a062;
        }
    }

    &.yellow{
        background-color: #ffb848;
        .more{
            background-color: #da9627;
        }
    }

    &.blue{
        background-color: #005fa7;
        .more{
            background-color: #208dbe;
        }
    }
    &.red{
        background-color: #cc003a;
        .more{
            background-color: #b1101f;
        }
    }

    &.blue-light{
        background-color: #4287c8;
        .more{
            background-color: #4287c8;
        }
    }

    .visual{
        width: 80px;
        height: 80px;
        display: block;
        float: left;
        padding-top: 10px;
        padding-left: 15px;
    }

    .detail {
        position: absolute;
        right: 15px;
        padding-right: 10px;

        .number{
            padding-top: 15px;
            text-align: right;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: -1px;
            margin-bottom: 5px;
            font-weight: 300;
            color: #fff;
            .up{
              color: red;
            }
            .down{
              color: green;
            }
        }

        .desc{
            text-align: right;
            font-size: 16px;
            letter-spacing: 0px;
            font-weight: 300;
            color: #fff;
        }
    }

    .more{
        clear: both;
        display: block;
        padding: 5px 10px;
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        color: #fff;
        opacity: 0.7;

        i{
            float: right;
        }

        &:hover{
            opacity: 1;
        }
    }
  }
}
