{{#component "js-comp buzv-dashboard"}}
<p class="components-title"><strong class="tab-name">年度信息汇总</strong></p>
<div class="status-contents">
  <div class="stat blue-light">
    <div class="visual">
      <i class="fa fa-bar-chart fa-3x fa-inverse fa-border fa-fw"></i>
    </div>
    <div class="detail">
      <div class="number">
        {{formatPrice _DATA_.orderAmt "Y" 2 }}<i class="fa fa-rmb"></i>
      </div>
      <div class="desc">
        销售金额
      </div>
    </div>
    <a class="more" href="#details">查看更多<i class="icon-next"></i> </a>
  </div>
  <div class="stat blue-light">
    <div class="visual">
      <i class="fa fa-line-chart fa-3x fa-inverse fa-border fa-fw"></i>
    </div>
    <div class="detail">
      <div class="number">
        {{_DATA_.orderCount}}
      </div>
      <div class="desc">
        订单数量
      </div>
    </div>
    <a class="more" href="#details">查看更多 <i class="icon-next"></i> </a>
  </div>
  <div class="stat blue-light">
    <div class="visual">
      <i class="fa fa-usd fa-3x fa-inverse fa-border fa-fw"></i>
    </div>
    <div class="detail">
      <div class="number">
        {{formatPrice _DATA_.commissionAll "Y" 2 }}<i class="fa fa-rmb"></i>
      </div>
      <div class="desc">
        应付佣金总额
      </div>
    </div>
    <a class="more" href="#details">查看更多<i class="icon-next"></i> </a>
  </div>
  <div class="stat blue-light">
    <div class="visual">
      <i class="fa fa-credit-card fa-3x fa-inverse fa-border fa-fw"></i>
    </div>
    <div class="detail">
      <div class="number">
       {{formatPrice _DATA_.commissionPay "Y" 2 }}<i class="fa fa-rmb"></i>
      </div>
      <div class="desc">
        实付佣金总额
      </div>
    </div>
    <a class="more" href="#details">查看更多 <i class="icon-next"></i> </a>
  </div>
</div>
<div>
  <div class="half-width hide">
    <p class="components-title"><strong class="tab-name">周佣金走势图</strong></p>
    <div id="js-order-plot" class="main-plot" data-points="[[null, null, null, null, null, 6, 11, 32, 110, 235,
    369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468],[null, null, null, null, null, null, null, null, null,
    null, 5, 25, 50, 120, 150, 200, 426, 660, 869, 10600]]"></div>
  </div>

  <p class="components-title"><strong class="tab-name">月订单量走势图</strong></p>
  <div id="js-vendor-plot" class="main-plot" data-points="[[223, 223, 224, 225, 223, 227, 228, 222, 228, 228,
    229, 223, 223, 223, 227, 229, 230, 230, 231, 233]]"></div>

</div>
<p class="components-title"><strong class="tab-name">月销售额走势图</strong></p>
<div id="js-sell-plot" class="main-plot" data-points="[[null, null, null, null, null, 6, 11, 32, 110, 235,
369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468],[null, null, null, null, null, null, null, null, null,null, 5, 25, 50, 120, 150, 200, 426, 660, 869, 10600]]"></div>
{{/component}}
