<div id="modalItems" class="modal" data-comp-path="pokeball">
  <form class="form form-aligned">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h2>批量导入商品</h2>
    </div>
    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <label for="">产品代码:</label>
          <textarea required name="itemCodes" class="item-import-textarea"></textarea>
          <span class="note">多个代码用","隔开,例如:a123323,a32323,a2323</span>
          <span class="note-error-empty">请输入产品代码</span>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-medium">导入</button>
      &nbsp;
      <button class="btn btn-info btn-medium close">返回</button>
    </div>
  </form>
</div>
